.header{
    height: 8vh;
    min-height: 45px;
    background-color: #77A6F7;
    padding: 0.2vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    z-index: 10;
    position: sticky;
  }

.logo{
    height: 8vh;
    min-height: 45px;
    object-fit: contain;
    padding: 4px 0 0 0;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}