.sidebar{
    height: 92vh;
    background-color: #77A6F7;
    min-width: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #F6F5F5;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vh 0vw;
    font-size: calc(4px + 0.8vw);
}

.profilepic{
    height: calc(9vh + 9vw);
    width: calc(9vh + 9vw);
    border-radius: 50%;
    border: 3px solid #222831;
    margin-bottom: 6vh;
}

.enroll{
    margin-bottom: 2vh;
}

.name{
    margin-bottom: 2vh;
}

.sem{
    margin-bottom: 2vh;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;
}

.links>a{
    color: #222831;
    font-size: calc(4px + 1vw);
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#ffccbce2;
}

.links button{
    width: 100%;
    height: 100%;
    background-color:white;
    padding: 2vh;
}

.active{
    background-color:#FFCCBC !important ;
}