.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #ffcbbe;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.NoticeList {
  width: 550px;
  height: 450px;
  background: #fff;
  border-radius: 16px;
}

.Content {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
