.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #ffcbbe;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.CrouselItem {
  width: 334px;
  height: 351px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}
