@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.screen{
    display: flex;
    width: 100%;
    height: 100%;
}

.infoDiv{
    width: 60%;
    background-color: #FFCCBC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5vh 5vw;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(1vh + 1vw);
}

.infoDiv>h1{
    font-size: calc(2vh + 2vw);
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 12vh;
}

.infoGrid{
    display: flex;
    flex-direction: column;
}

.infoGrid>div{
    display: grid;
    grid-template-columns: 20vw 10vw;
    margin-bottom: 8vh;
}

.infoGrid>div>div{
    text-align: left;
}

.infoGrid>div>div:nth-of-type(2n){
    font-weight: 400;
}

.buttonDiv{
    width: 40%;
}

.buttonDiv button{
    background: #222831;
    color: #F6F5F5;
    font-family: Montaga;
    font-style: normal;
    font-size: calc(0.6vh + 0.6vw);
    border-radius: 17px ;
    font-weight: 400;
    width: 40%;
    height: 5vh;
    margin-top: 20vh;
}

.buttonDiv button:hover{
    background: #222831be;
    border: 2px solid #000;
}

.buttonDiv button:disabled{
    background-color: gray;
    border: 2px solid rgb(29, 28, 28);
    color:rgb(29, 28, 28);
}

.ApprovalDiv{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}