.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
  background: #ffcbbe;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.HelloTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  color: #000000;
  font-family: "Pacifico", cursive;
}

.C1 {
  display: flex;
  gap: 50px;
}

.C2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 33px;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
