.imgGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeDiv {
  padding: 35px;
}

.timetableMainDiv {
  width: 100%;
}

.inputDiv {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .textPad {
    padding: 35px;
  }
}
