.imgGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardscreen{
  width: 100%;
  height: 100vh;
}

.welcomeDiv {
  padding: 35px;
}

.timetableMainDiv {
  width: 100%;
}

.inputDiv {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .textPad {
    padding: 35px;
  }
}

.frame{
  width: 60vw;
  height: 90vh;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.timetableMainDiv{
  display: flex;
}