.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.heading {
  width: 100%;
  display: flex;
  position: fixed;
  left: 20px;
  top: 55px;
  text-transform: uppercase;
}

.ProfileList {
  width: 80vw;
  background: #ffccbc;
  border-radius: 20px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profileimage{
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display:flex;
  align-self:center;
}

.dialogcontent{
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
  background-color:rgb(132, 162, 0);
}

.dialogcontent hr{
  width: 100%;
}

.dialogcontent label{
  font-size: 1.2rem;
  font-weight: 700;
  color:#063f66;
}

.dialogcontent label+div{
  font-size: 1rem;
  color: rgb(206, 37, 37);
}

.profileimage+hr+div{
  display:flex;
  padding:0 8vw;
  width:50vw;
  align-items:center;
  flex-direction:column;
}

.profileimage+hr+div>div{
  width:100%;
  display:flex;
  justify-content:space-between;
}