.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.heading {
  width: 100%;
  display: flex;
  text-transform: uppercase;
}

.ProfileList {
  width: 80vw;
  max-width: 435px;
  background: #ffccbc;
  border-radius: 20px;
  height: 400px;
}
